body {
    overflow: hidden;
}

#display {
    position: absolute;
    top: 0;
    left: 0;
}

#controls {
    position: absolute;
    color: white;
    bottom: 1em;
    right: 1em;
    padding: 1em;

    opacity: .5;
    
    transition-property: all;
    transition-duration: .25s;
    transition-timing-function: ease-out;

    display: grid;
    grid-template-columns: repeat(3, 2em);
    grid-template-rows: repeat(5, 2em);
}

#controls:hover {
    opacity: 1;
    background-color: black;
}

#move-left {
    grid-column: 1;
    grid-row: 2;
}
#move-up {
    grid-column: 2;
    grid-row: 1;
}
#move-down {
    grid-column: 2;
    grid-row: 3;
}
#move-right {
    grid-column: 3;
    grid-row: 2;
}

#zoom-in {
    grid-column: 3;
    grid-row: 1;
}

#zoom-out {
    grid-column: 3;
    grid-row: 3;
}

#iterations {
    grid-column: 1 / 4;
    grid-row: 4;
}
#fifty {
    grid-column: 2 / 4;
    grid-row: 5;
}
#lock {
    grid-column: 1;
    grid-row: 5;
}

#mini {
    position: absolute;
    border: 5px white solid;
}

.hidden {
    display: none;
}